// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.scss';

// fortawesome
@import '@fortawesome/fontawesome-free/css/fontawesome';
@import '@fortawesome/fontawesome-free/css/brands';
@import '@fortawesome/fontawesome-free/css/solid';
@import '@fortawesome/fontawesome-free/css/regular';


// site
@import './site/styles.css';

.admin-content-list {
  flex: auto;
  margin: 5vw 15vw 5vw 5vw;
    img {
      width: 8vw;
    }
}
.body-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 94.5vh;
}
.content-wrapper {
  flex: 1 0 auto;
  margin: 7rem 1rem 1rem 1rem;
}
.flex-container {
  display: flex;
  min-height: 80vh;
}
.footer {
  min-height: 5vh;

}
